# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# use this in docker container for testing purposes, see .env.sample
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notes?schema=public
# If testing locally with Docker, use host.docker.internal instead of localhost
DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:5432/notes?schema=public

# DATABASE_DIRECT_URL=postgresql://postgres:postgres@localhost:5432/notes?schema=public
# If testing locally with Docker, use host.docker.internal instead of localhost
DATABASE_URL=postgresql://postgres:postgres@host.docker.internal:5432/notes?schema=public

# The default port for a NodeJS server
PORT=5000
# Random combination of characters, can be set to anything
TOKEN_KEY=25a4@d506$182b43>e2e8d_e83&8c6065fci


# Mailer SMTP server user name - enter your own https://www.mailersend.com/ user
MAILER_USER=your_data_here 
# Mailer SMTP server user password - enter your own https://www.mailersend.com/ user password
MAILER_PASSWORD=your_data_here
# Mailer SMTP noreply email - enter your own https://www.mailersend.com/ user
MAIL_NOREPLY=your_data_here

# Project backend URL
HOME_URL=http://localhost

# Host for server to listen on, use localhost for local tests, or whatever appropriate for deploying on cloud/server
HOST=localhost

# Set in Dockerfile
#NODE_ENV=development